:root {
    --container-bacground: hsl(0, 0%, 100%);
    --project-background: hsl(212, 45%, 89%);
    --sub-text-color: hsl(216, 15%, 48%);
    --heading-text-color: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Outfit, sans-serif;
}

html {
    height: 100%
}

/* Page Background Color */
body {
    background-color: var(--project-background);
    display: grid; 
    place-items: center; 
    height: 100%;
}

/* Background Container */
.bodyContainer {
    background-color: var(--container-bacground);
    max-width: 320px;
    max-height: 499px;
    display: grid;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    padding-top: 16px;
}

/* QR Code Image */
.image {
    width: 100%;
    border-radius: 20px;
}


/* Subtext styling */
.subText {
    color: var(--sub-text-color);
}

/* Boldtext Styling  */
.boldText {
    font-weight: 700;
    font-size: 22px;
    padding-top: 24px;
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}